@import "../../style/variables.scss";

.blur {
  &_red,
  &_purple,
  &_white {
    position: absolute;
    filter: blur(196px);
    opacity: 0.5;
  }

  &_white {
    display: none;
    width: 100px;
    height: 100px;
    filter: blur(100px);
    opacity: 1;
    left: -30px;
    top: 0px;
    z-index: 1;
    background: $white;
  }
  &_red {
    width: 300px;
    height: 300px;
    left: -102px;
    top: 251px;
    z-index: 1;
    background: #961a1a;
  }
  &_purple {
    width: 270px;
    height: 270px;
    left: 60vw;
    top: -154px;
    background: #833ab4;
  }
}
.ball {
  &_red-huge,
  &_red,
  &_purple {
    position: absolute;
    transform: rotate(45deg);
    border-radius: 50%;
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
  }
  &_red-huge {
    width: 83px;
    height: 83px;
    top: 80px;
    left: 36vw;
    background: rgb(255, 208, 208);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    background: radial-gradient(
      circle,
      rgba(255, 208, 208, 0.7) 0%,
      rgba(212, 93, 93, 0.3) 50%,
      rgba(167, 49, 49, 0.25) 60%,
      rgba(130, 25, 25, 0.2) 70%
    );
    background-position: -75px 0px;
    background-size: 215%;
  }
  &_red {
    width: 28px;
    height: 28px;
    left: 58vw;
    top: 550px;
    filter: blur(4px);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    background: rgb(236, 208, 255);
    background: radial-gradient(
      circle,
      rgba(255, 208, 208, 0.9) 0%,
      rgba(212, 93, 93, 0.5) 54%,
      rgba(167, 49, 49, 0.4) 66%,
      rgba(130, 25, 25, 0.4) 78%
    );
    background-position: -25px 0px;
    background-size: 165%;
  }
  &_purple {
    width: 60px;
    height: 60px;
    top: -10px;
    left: 60vw;
    filter: blur(4px);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    background: rgb(236, 208, 255);
    background: radial-gradient(
      circle,
      rgba(236, 208, 255, 0.5) 0%,
      rgba(161, 93, 207, 0.3) 54%,
      rgba(118, 49, 164, 0.26) 66%,
      rgba(86, 24, 128, 0.29) 78%
    );
    background-position: -30px 0px;
    background-size: 155%;
  }
}
.main {
  padding-top: 5.625em;
  padding-bottom: 7.75em;

  &__usp {
    width: 30%;
  }
  &__gradient {
    background: $primaryGradient;
    background-clip: text;
    color: transparent;
    font-weight: 900;
  }
  &__description {
    font-size: 1.125em;
    margin-top: 1.875em;
  }
  &__advantages {
    width: 30%;
    text-align: right;
  }
  &__advantagesList {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.875em;
  }
  &__advantagesList-mobile {
    display: none;
  }
  &__advantagesTitle {
    text-transform: uppercase;
  }
  &__advantagesDescr {
    margin-top: 0.375rem;
    font-size: 1em;
  }
  &__button {
    font-size: 1rem;
    background-color: $activeBtn;
    margin-top: 3.75em;
    padding: 1.3em 2.125em;
    border: none;
    color: $white;
    cursor: pointer;
  }
}

.main .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1068px) {
  .ball {
    &_purple {
      top: -32px;
    }
  }
  .main {
    &__usp {
      width: 40%;
    }
    &__advantages {
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  .blur {
    &_white {
      display: block;
    }
    &_purple {
      top: 150px;
      left: auto;
      right: 0;
    }
    &_red {
      top: 130px;
    }
  }
  .ball {
    &_red {
      top: 480px;
      width: 43px;
      height: 43px;
      left: 10vw;
    }
    &_purple {
      width: 40px;
      height: 40px;
      left: 85vw;
      top: 320px;
    }
    &_red-huge {
      display: none;
    }
  }

  .main {
    overflow: hidden;
    position: relative;
    background-image: url(../../assets/noise.png);
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;
    &__usp {
      width: 100%;
    }
    &__description {
      margin-top: 15px;
    }
    &__gradient-second {
      text-transform: lowercase;
    }
    &__advantages {
      width: 100%;
      text-align: left;
      margin-top: 45px;
    }
    &__button,
    &__advantagesList {
      display: none;
    }
    &__advantagesList-mobile {
      display: grid;
      gap: 14px 10px;
    }
    &__advantagesLi-mobile {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &__advantagesHr {
      width: 10px;
      height: 1px;
      border: none;
      background: $primaryGradient;
    }
    &__advantagesTitle-mobile {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 13px;
    }
  }
  .main .container {
    flex-direction: column;
  }
}
