@import "../../style/variables.scss";

.header {
  padding-top: 3.5em;
  position: relative;
  z-index: 2;
  &__wrapper {
    display: flex;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.625em;
    margin-top: 0.625rem;
    color: $lightText;
  }
  &__navigation {
    margin-left: 3.25em;
  }
  &__list {
    display: flex;
    gap: 1.875em;
  }
  &__socials {
    display: flex;
  }
  &__phone {
    margin-right: 2.875em;
  }
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

@media (max-width: 1366px) {
  .header {
    &__navigation {
      margin-left: 2.5em;
    }
    &__phone {
      margin-right: 2.5em;
    }
  }
}

@media (max-width: 1068px) {
  .header {
    padding: 1.25em 0;
    &__wrapper {
      align-items: center;
    }
    &__text,
    &__socials,
    &__phone {
      display: none;
    }
    &__navigation {
      margin-left: 0;
    }
    &__wrapper {
      width: 100%;
      justify-content: space-between;
    }
    &__list {
      gap: 1.5em;
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $deepBlue;
    &__logo {
      display: none;
    }
    &__navigation,
    &__list {
      width: 100%;
      justify-content: space-between;
    }
    &__list {
      gap: 0;
    }
    &__link:last-child {
      display: none;
    }
    &__anchor {
      font-size: 0.75em;
      text-transform: uppercase;
    }
  }
}
